<div class="text-center">
  <h3>List of bookmarks</h3>
</div>

<div class="bookmarks">
  <% @bookmarks.each do |bookmark| %>
    <div>
      <h4><a href="http://<%= bookmark.url %>" target="_blank"><%= bookmark.title %></a></h4>
      <ul>
        <li><%= bookmark.description %></li>
        <li><%= bookmark.url %></li>
        <li><%= bookmark.created_at.strftime("%b %d %Y") %></li>
        <li><a href="/bookmarks/<%= bookmark.id %>">View</a></li>
      </ul>
    </div>
  <% end %>
</div>
