<h1>List of Bookmarks</h1>

<a href="/users">Home</a>

<% @bookmarks.each do |bookmark| %>
  <div>
    <p>
      <a href="http://<%= bookmark.url %>" target="_blank"><%= bookmark.title %></a><br>
      <%= bookmark.description %><br>
      <%= bookmark.url %> <br>
      <%= bookmark.created_at.strftime("%b %d %Y") %>
    </p>
  </div>
<% end %>


<div>
  <p>
    <a href="/bookmarks/new">New bookmark</a>
    <a href="/logout">Logout</a>
  </p>
</div>
