<div class="row">
  <div class="text-center">

    <% unless locals.empty? %>
      <%= message %>
    <% end %>

    <div class="bookmarks">
      <h4><a href="http://<%= @bookmark.url %>" target="_blank"><%= @bookmark.title %></a></h4>
      <ul>
        <li><%= @bookmark.url %></li>
        <li><%= @bookmark.description %></li>
        <li>Category: <%= @bookmark.category.name %></li>
        <li>Date created: <%= @bookmark.created_at.strftime("%b %d %Y") %></li>
    </div>

    <div>

      <form action="/bookmarks/<%= @bookmark.id %>/edit">
        <button type="submit" class="btn btn-primary btn-md">Edit</button>
      </form>

      <form action="/bookmarks/<%= @bookmark.id %>/delete" method="post">
        <input type="hidden" name="_method" value="delete">
        <button type="submit" class="btn btn-primary btn-md">Delete</button>
      </form>
    </div>
  </div>
</div>
