<% unless locals.empty? %>
  <%= message %>
<% end %>

<div class="bookmarks">
  <% @user.bookmarks.each do |bookmark| %>

    <h4><a href="http://<% bookmark.url %>"><%= bookmark.title %></a></h4>
    <ul>
      <li><%= bookmark.url %></li>
      <li><%= bookmark.description %></li>
      <li><%= bookmark.created_at.strftime("%B %d, %Y") %></li>
    </ul>
  <% end %>
</div>
