<h2><%= @user.email %> </h2>

<% @user.bookmarks.each do |bookmark| %>
  <%= bookmark.url %><br>
  <%= bookmark.title %><br>
  <%= bookmark.description %><br>
  <%= bookmark.created_at.strftime("%B %d, %Y") %>
<% end %>
<br><br>
<div>
  <a href="/bookmarks">View Bookmarks</a><br>
  <a href="/logout">Logout</a>
</div>
