<div class="text-center">
  <h1> <%= @category.name %> </h1>
</div>


<div class="bookmarks">
  <% @category.bookmarks.each do |bookmark| %>
    <div class="url-title">
      <h4><a href="http://<%= bookmark.url %>" target="_blank"><%= bookmark.title %></a></h4> &mdash; <%= bookmark.url %>
    </div>

    <ul>
      <li class="description"><%= bookmark.description %></li>
      <li>Category: <a href="/categories/<%= bookmark.category_id %>"><%= bookmark.category.name %></a></li>
      <li>Date created: <%= bookmark.created_at.strftime("%b %d %Y") %></li>
      <li><a href="/bookmarks/<%= bookmark.id %>">View</a></li>
    </ul>
  <% end %>
</div>
